body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigation-bar {
  background-color: #4EAE3A;
}

.menu-bar-items:hover {
  background-color: forestgreen;
}

.my-list li :hover {
  color: whitesmoke;
}

#home :hover {
  color: whitesmoke;
}

.dropdown-nav-list li :hover {
  background-color: #4EAE3A;
}

.add-new {
  border-style: outset;
  border-color: darkslateblue;

}

.add-new:hover {
  /*color: royalblue;*/
  /*font-weight: bold;*/
  background-image: linear-gradient(whitesmoke, cornflowerblue);
}

.edit-buttons {
  background-color: inherit;
  border-style: inset;
  border-color: forestgreen;
}

.edit-buttons:hover {
  color: whitesmoke;
  background-color: #4EAE3A;
  background-image: linear-gradient(to bottom right, #4EAE3A, darkgreen);
}

.form-body {
  border-bottom-style: ridge;
  border-color: forestgreen;
}